:root{
    --bs-primary: black;
}
.green-active{
    color: rgb(3, 167, 3) !important;
    font-weight: bold;
}

.nav-options li a{
    border: 2px solid transparent;
}

.nav-options li a.green-active{
    border-bottom: 2px solid rgb(7, 182, 7);
}

.nav-options li a:hover{
    border-bottom: 2px solid rgb(8, 197, 8);
}
.cards-wrapper{
    display: flex !important
}


